<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
</head>
<body>
<h1>Welcome to the bar.</h1>
USERNAME {{.UserName}}<br>
FIRST {{.First}}<br>
LAST {{.Last}}<br>
</body>
</html>