<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go</title>
</head>
<body>

{{if .First}}
USERNAME {{.UserName}}<br>
PASSWORD {{.Password}}<br>
FIRST {{.First}}<br>
LAST {{.Last}}<br>
{{else}}
    <h2><a href="/signup">sign up</a></h2>
{{end}}
<br>
<h2>Go to <a href="/login">the login</a></h2>
<h2>Go to <a href="/bar">the Bar</a></h2>
</body>
</html>